@import 'node_modules/milligram-scss/src/Color';
$color-primary: #2277a8;
@import 'node_modules/milligram-scss/src/Base';
// @import 'node_modules/milligram-scss/src/Blockquote';
@import 'node_modules/milligram-scss/src/Button';
@import 'node_modules/milligram-scss/src/Code';
@import 'node_modules/milligram-scss/src/Divider';
@import 'node_modules/milligram-scss/src/Form';
@import 'node_modules/milligram-scss/src/Grid';
@import 'node_modules/milligram-scss/src/Link';
@import 'node_modules/milligram-scss/src/List';
@import 'node_modules/milligram-scss/src/Spacing';
@import 'node_modules/milligram-scss/src/Table';
@import 'node_modules/milligram-scss/src/Typography';
@import 'node_modules/milligram-scss/src/Image';
@import 'node_modules/milligram-scss/src/Utility';
@import 'navigation';

main.container, footer.container {
    margin-top: 8rem;
}

span.primary {
    color: $color-primary;
}

.centre {
    text-align: center;
    margin: inherit auto;
}

.title, .subtitle {
    @extend .centre;
}

.has-text-right {
    text-align: right;
}

.has-text-left {
    text-align: left;
}

.social-links {
    display: block;
    margin-top: 4rem;
    li {
        display: inline-block;
        a {
            font-size: 2rem;
            color: inherit;
            padding: 10px 10px 4px 10px;
        }
    }
}

figure > img.profile {
    border-radius: 10rem;
}

p > code {
    font-size: inherit;
}

.label {
    background: $color-primary;
    padding: 0.5rem;
    border-radius: 0.5rem;
    a {
        color: $color-initial;
    }
}
