# flyctl launch added from .gitignore
**/.idea
**/public
**/resources/_gen
**/.hugo/*
!**/.hugo/version
**/.vercel
**/.hugo_build.lock
# Local Netlify folder
**/.netlify

# flyctl launch added from themes/maverick/.gitignore
themes/maverick/**/.DS_Store
fly.toml
