---
layout: base.njk
title: Projects
eleventyNavigation:
    key: Projects
    order: 2
---

<h2 class="subtitle">Projects</h2>

{% set projectlist = collections.projects %}
{% include "projectlist.njk" %}
