{% for post in postlist | reverse %}
    <div class="row">
        <div class="column column-33">
            <h5 class="has-text-right"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></h5>
        </div>
        <div class="column column-66">
            <strong>
                <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
            </strong>
        </div>
    </div>
{% endfor %}
