{% for project in projectlist | reverse %}
    <div class="row">
        <div class="column column-33">
            {%- for category in project.data.categories -%}
            <h5 class="has-text-right">{{ category }}</h5>
            {%- endfor -%}
        </div>
        <div class="column column-66">
            <strong>
                <a href="{{ project.url | url }}">{% if project.data.title %}{{ project.data.title }}{% else %}<code>{{ project.url }}</code>{% endif %}</a>
            </strong>
            <p>{{ project.data.description }}</p>
        </div>
    </div>
{% endfor %}
