<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>
			{{ with .Title }}
			{{ . }} -
			{{ end }}
			{{ .Site.Title }}
		</title>
		{{ template "_internal/opengraph.html" . }}
		{{ template "_internal/schema.html" . }}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-security-policy" content="default-src 'self'; connect-src 'self'; style-src-elem 'self' fonts.bunny.net; font-src 'self' fonts.bunny.net">
		{{ with .OutputFormats.Get "rss" -}}
		<link rel={{.Rel}} type={{.MediaType.Type}} href={{.Permalink}} title={{site.Title}}>
		{{ end }}
		{{ $style := resources.Get "css/style.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
		{{ partial "seo/modules/favicons/index" . }}
	</head>

	<body>
		<header>
			<a class="logo" href="{{ .Site.BaseURL }}">{{ .Site.Title}}</a>
			<ul class="pages">
				{{range .Site.Menus.main}}
				<li><a href="{{ .URL }}">{{ .Name}}</a></li>
				{{end}}
			</ul>
		</header>
		<main>
			{{block "main" . }}{{end}}
		</main>
	</body>
</html>
