{{ partial "header" . }}
<section class="section">
  <h2 class="subtitle">Archive</h3>
  <div class="content">
    {{ range .Data.Pages.ByPublishDate }}
    <div class="row">
      <div class="column column-33">
        <h5 class="has-text-right">{{ .Date.Format "January 2, 2006" }}</h5>
      </div>
      <div class="column column-66">
        <strong>
          <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </strong>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ partial "footer" . }}