@import './fontello';
@import 'Color';
$color-primary: #2277a8;
@import 'Base';
// @import 'Blockquote';
@import 'Button';
@import 'Code';
@import 'Divider';
@import 'Form';
@import 'Grid';
@import 'Link';
@import 'List';
@import 'Spacing';
@import 'Table';
@import 'Typography';
@import 'Image';
@import 'Utility';
@import './navigation';

.centre {
    text-align: center;
    margin: inherit auto;
}

.title, .subtitle {
    @extend .centre;
}

.has-text-right {
    text-align: right;
}

.has-text-left {
    text-align: left;
}

.social-links {
    display: block;
    margin-top: 4rem;
    li {
        display: inline-block;
        a {
            font-size: 2rem;
            color: inherit;
            padding: 10px 10px 4px 10px;
        }
    }
}

figure > img.profile {
    border-radius: 10rem;
}

.label {
    background: $color-primary;
    padding: 0.5rem;
    border-radius: 0.5rem;
    a {
        color: $color-initial;
    }
}