{{ partial "head" . }}
  <body>
    <main class="wrapper">
      <header id="top">
          <nav class="navigation">
              <section class="container">
                  <a class="navigation-title" href="{{ .Site.BaseURL }}">
                    <i class="icon-home" aria-hidden="true"></i>
                  </a>
                  <ul class="navigation-list float-right">
                    {{ with .Site.Menus.main }} {{ range sort . }}
                    <li class="navigation-item"><a class="navigation-link" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }} {{ end }}
                  </ul>
              </section>
            </nav>
      </header>
      <article class="container">