<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }}" />
    <!-- <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon-32x32.png"> -->
    <title>{{ .Params.title }} - {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Params.title }}">
    <meta property="twitter:title" content="{{ .Params.title }}">
    {{ $description := .Summary }}
    {{ if .Params.description }}
      {{ $description := .Params.description }}
    {{ end }}
    <meta name="description" content="{{ $description }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="twitter:description" content="{{ $description }}">
    <meta name="twitter:site" content="@RobBrazier">
    <meta name="twitter:card" content="summary">
    {{ if .Params.date }}
    <meta property="article:modified_time" content="{{ .Params.Date }}">
    {{ end }}
    {{ range .AlternativeOutputFormats -}} 
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <meta property="og:locale" content="{{.Site.LanguageCode}}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="{{.Site.Params.SiteName}}">
    {{ $options := (dict "includePaths" (slice "node_modules/milligram-scss/src")) }}
    {{ $style := resources.Get "css/main.scss" | resources.ToCSS $options | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
