<section class="container list">
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{- if eq .Kind "term" -}}
          {{- i18n .Data.Plural 1 | title -}}
          {{- print ": " -}}
        {{- end -}}
        {{- i18n (lower .Title) | default .Title | title -}}
      </a>
    </h1>
    {{ .Content }}
    <ul>
      {{ range .Paginator.Pages }}
      <li>
        {{ if .Params.categories }}
        <span class="date">
          {{ range .Params.categories }}
          #<a href="{{ (urlize (printf "categories/%s/" . )) | absLangURL }}">
            {{- . -}}
          </a>&nbsp;
          {{ end }}
        </span>
      {{ end }}
        <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
  </section>
  