<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title }} - {{ metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <script src="https://minnow.robbrazier.com/script.js" site="QHTZUOHG" defer></script>
</head>
<body>
    <header id="top">
        <nav class="navigation">
            <section class="container">
                <a class="navigation-title" href="{{ '/' | url }}">R<span class="primary">B</span></a>
                <ul class="navigation-list float-right">
                    {%- for entry in collections.all | eleventyNavigation %}
                        <li class="navigation-item"><a class="navigation-link" href="{{ entry.url | url }}">{{ entry.title }}</a></li>
                    {%- endfor %}
                </ul>
            </section>
        </nav>
    </header>
    <main class="container">
        <article class="container">
            {{ content | safe }}
        </article>
    </main>
    <footer class="container centre">
        © Rob Brazier &bull; Powered by <a href="https://11ty.dev">11ty</a>
    </footer>
</body>
