---
layout: base.njk
templateClass: tmpl-post
---
<div class="post-header">
    <h1 class="title">
        <a href="{{ url }}">{{ title }}</a>
    </h1>
    <h6 class="subtitle">
        {{ date | readableDate }}
        &nbsp;&nbsp;
        {%- for tag in data.tags -%}
        <span class="label"><a href={{ tag }}>#{{ tag }}</a></span>
        {%- endfor -%}
    </h6>
</div>
<div class="content">
    {{ content | safe }}
</div>
